.container {
    font-family: 'Courier Prime', monospace;
  }

  .savebtn {
    margin-top: 20px;
  }

#date {
  text-align: center;
  margin-bottom: 20px;
}

 #logs p {
   font-size: 14px;
 }
 
 #entry {
  padding-top: 30px;
  padding-bottom: 20px;
  padding-left: 0px;

 }

 #logs {
  padding-top: 20px;
  padding-bottom: 20px;
 }

 #post-it {
   background-color: yellow;
 }

 .post-container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
 }

 .post-it {
    margin:20px;
    max-width: fit-content;

 }
